
/*cria um circulo*/
#grafico-01 {
background-color: rgb(224, 30, 30);
width: 200px;
height: 200px;;
border-radius: 50%;
overflow: hidden;
margin: 50px auto;

}

#grafico-01 img {
width:100%;
}

/*cria um triangulo*/

#grafico-02 {
border-width: 60px 0 60px 120px;
border-style: solid;
border-color: transparent transparent transparent blue;
width: 60px;
}

#imagem-vetorial {
width: 200px;
height: 200px;;
}

h1 { 
background-color: aqua;
width: 100%;
margin-left: 0;


}
